* {
  margin: 0;
  padding: 0;
}
.about {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(180deg, #ffffff 78.65%, #f9b957 78.66%);
}
.txt {
  padding: 3vh 20vh;
  width: 600px;
  height: 100px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  align-items: center;
  color: #000000;
}
.heading {
  height: 7vh;
  color: #c66d32;
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media (max-width: 550px) {
  .about {
    background: #ffffff;
  }

  .txt {
    padding: 40px 5px;
  }

  .img {
    position: fixed;
    bottom: 1px;
    width: 40rem;
    left: -120px;
  }
}
