* {
  margin: 0;
  padding: 0;
}

.signup {
  overflow: hidden;
  background: linear-gradient(180deg, #5d9cfb 72.14%, #e3e8e9 72.15%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-right: 7vh;
}
.decor {
  margin-bottom: 18vh;
}
img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.image_wrapper {
  height: 90vh;
  width: 90vh;
}
.name {
  font-family: "Comic Neue", cursive;
  font-size: 55px;
  text-align: right;
  color: #ffffff;
  letter-spacing: 14px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
  padding-left: 60vh;
  padding-top: 5vh;
}

.signup_form {
  background-color: beige;
  padding: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid wheat;
  box-shadow: 5px 5px 10px rgb(20, 17, 17);
  height: 320px;
  width: 205px;
}
.form_text {
  padding-bottom: 5vh;
}
.heading {
  font-family: fantasy;
  letter-spacing: 1vh;
  font-size: xx-large;
  padding-bottom: 5vh;
}
.input_grp {
  display: grid;
  text-align: left;
  gap: 1vh;
}
.btn {
  margin: 4vh;
  background-color: rgb(230, 174, 31);
  border-radius: 10px;
  border-color: #f5f568;
  height: 30px;
  width: 100px;
  text-align: center;
  padding: 8px;
  cursor: pointer;
}
.form_div {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
}
